* {
    font-family: sans-serif;
    /*border: 1px solid red;*/
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.margin {
}

.header,
.hero {
    background: #1F2937;
}

.header {
    padding: 5px 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero {
    padding: 100px 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: auto;
}

.headerwhite,
.herowhite {
    color: #f9faf8;
}

.headergrey,
.herogrey {
    color: #cdcfd3;
    font-size: 18px;
}

.headerwhite {
    font-size: 24px;
}

.headergrey {
    font-size: 18px;
    margin-left: auto;
    display: flex;
    gap: 15px;
}

.herowhite {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.herogrey {
    margin-bottom: 10px;
}

.imageplaceholder {
    margin-left: auto;
    color: #e5e7ec;
    background: #cdcfd36c;
    height: 225px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80%;
    width: 50%;
    margin-right: 20px;
}

.signup {
    background: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    padding: 7px 25px;
    border-style: hidden;
}




